@*@if (user!=null)
    {
        using (Html.BeginForm("LogOff", "Login", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()

            <ul class="nav navbar-nav navbar-right">
                <li>
                    @Html.ActionLink("Hello, " + user + "!", "Index", "Post")
                </li>
                <li>@Html.ActionLink("发博", "Create", "Post")</li>
                <li>@Html.ActionLink("注销", "Logoff", "Login")</li>
            </ul>
        }
    }
    else*@
{
<ul class="nav navbar-nav navbar-right">
    <li>@Html.ActionLink("注册", "Register", "Account")</li>
    <li>@Html.ActionLink("登录", "Login", "Account")</li>
</ul>
}
